version: "3.9"

services:
  app:
    build:
      context: ./docker/php
    container_name: game_trackr_app
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./backend:/var/www
    depends_on:
      - db
      - redis
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    container_name: game_trackr_nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: postgres:16
    container_name: game_trackr_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: game_trackr
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: game_trackr_redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  frontend:
    image: node:20-alpine
    container_name: game_trackr_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    command: sh -c "npm run dev -- --host 0.0.0.0"
    networks:
      - app-network

volumes:
  dbdata:

networks:
  app-network:
    driver: bridge